*{
    margin:0;
    padding:0;
    margin-left:10px;
}
nav{
    width:100%;
    height:180px;
    background-color:#FFFFFF;
}
.maincontainer{
   display: flex;
    justify-content:space-around;


}
.airbnb{
    object-fit: cover;
}
a{
    text-decoration: none;
}
.firstdiv{
    margin-left:50px;
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
    justify-content:space-evenly;
    font-size: 15px;
    font-weight: 600;
    width:50p;
}
.airbnb{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 35px;
    margin-left:80px;
    display: flex;
    
}
.first2{
    margin-left:740px;
}
.container{
    border-radius:28px;
    border: 1px solid rgb(201, 198, 198);
    background-color: rgb(254, 255, 255);
    margin:auto;
    padding-top:10px;
    
    
    
}
.firstcl{
    color:black;
    font-size:13;
    width:250px;
    border-right: 1px solid rgb(159, 156, 156);
    
}
.firstcl:hover{
    background-color: rgb(212, 206, 206);
        
        border-radius: 17px;
}

.secondcl{

    color:black;
    font-size:13;
    width:250px;
    border-right: 1px solid rgb(159, 156, 156);
    }
    .secondcl:hover{
          background-color: rgb(212, 206, 206);
        
        border-radius: 17px;

        
    }

.row{
    
    
    display: flex;
    margin: auto;
    margin-left:30px;
    text-align: center;
    
    


}
.thirdcl{
    color:black;
    font-size:13;
    width:150px;
    border-right: 1px solid rgb(159, 156, 156);
   
    }
    .thirdcl:hover{
       background-color: rgb(212, 206, 206);
        
        border-radius: 17px;
    }
.fourthcl{
    color:black;
    font-size:13;
    width:150px;
    
    }
    .fourthcl:hover{
        background-color: rgb(212, 206, 206);
        
        border-radius: 17px;
    }
    .searchimg{
        height:100px;
        width:100px;
    }
    .search{
        height:45px;
        width:45px;
    
        
    }

button{
    border-radius:50%;
    height: 30px;
    width: 30px;
    border:1px solid rgb(159, 156, 156);

}
.btn2{

    border-radius:10px;
    height: 40px;
    width: 80px;
    border:1px solid rgb(159, 156, 156);;

}
.hrow{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;

}
.mainplimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap:130px;
    

}

.imgp{
    object-fit: cover;
    border-radius:14px;
    text-align: center;
}
.btnshwmr{
    margin: auto;
    text-align: center;
}


p{
    margin-left: 30px;
}
.rate{
    margin-left: 30px;
}
.shwmr{
    background-color:black;
    color:white;
    height:42px;
    width:120px;
    text-align: center;
    border-radius:5px;

}
.shwmr:hover{
    background-color:white;
    color:black;
}
.graycontainer{
    
    background-color: rgb(248, 245, 245);
    height:870px;
    width:100%;
    color:rgb(26, 14, 14);
}
.list{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
}
.list2{
    color: rgb(153, 151, 151);
}
.list1{
    color:black;
}
.list1:hover{
    color:rgb(153, 151, 151); 
}
.list2:hover{
     color:black;
}
th,td{
        padding:10px;
        text-align: left;
    
}
table{
    width:70%;
}

@media screen and (max-width:1440px)
  {
    .maincontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .maincontainer{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .maincontainer{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .maincontainer{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    
  @media screen and (max-width:1440px)
  {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .container{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .container{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    @media screen and (max-width:1440px)
  {
    .hrow{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .hrow{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .hrow{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .hrow{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    @media screen and (max-width:1440px)
  {
    .plimg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .plimg{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .plimg{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .plimg{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    @media screen and (max-width:1440px)
  {
    .mainplimg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .mainplimg{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .mainplimg{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .mainplimg{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
     @media screen and (max-width:1440px)
  {
    .graycontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .graycontainer{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .graycontainer{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .graycontainer{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    @media screen and (max-width:1440px)
  {
    .List{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .List{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .List{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .List{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
       @media screen and (max-width:1440px)
  {
    .airbnb{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .airbnb{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .airbnb{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .airbnb{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
       @media screen and (max-width:1440px)
  {
    .firstdiv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .firstdiv{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .firstdiv{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .firstdiv{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
           @media screen and (max-width:1440px)
  {
    .Row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .Row{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .Row{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .Row{
            display: grid;
            grid-template-columns: 1fr;
        }
        

    }
          @media screen and (max-width:1440px)
  {
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .row{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .row{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .row{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
       @media screen and (max-width:1440px)
  {
    .first{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .first{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .first{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .first{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
      @media screen and (max-width:1440px)
  {
    .first2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .first2{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .first2{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .first2{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    @media screen and (max-width:1440px)
  {
    .firstcl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .firstcl{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .firstcl{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .firstcl{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
     @media screen and (max-width:1440px)
  {
    .thirdcl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .thirdcl{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .thirdcl{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .thirdcl{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
     @media screen and (max-width:1440px)
  {
    .fourthcl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and(max-width:1000px){
    .fourthcl{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
    }
  }
  @media screen and (max-width:700px){
    .fourthcl{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
    @media screen and (max-width:500px){
        .fourthcl{
            display: grid;
            grid-template-columns: 1fr;
        }
        
    }
    
    
    
    
    
    
  
    
  
    
  
    
  
    
  





    
 
    

